body {
	font-family: 'PT Sans', sans-serif;
	color:#000000;
}
h2, h3 {
font-size: 30px;
line-height: 42px;
}
p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.visually-hidden {
	display: none;
}
.news {
	background: #ffffff;
	background-image: url(../img/bg.jpg);
}
